.App {
  text-align: center;
}

.app-con{
  /* display: flex; */
  justify-content: center;
  padding: 10px 40px;
}

.bar-con{
  flex: 1;
  padding: 10px 40px;
}

.image-list-container{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,6fr));
  grid-gap: 10px;
}

.image-list-container img{
  
  width: 300px;
  height: 400px;
  
}